.register-cover {
  background: url(./../global_assets/images/backgrounds/user_bg1.png) no-repeat;
  background-size: cover;
}

.owl-prev img,
.owl-next img {
  width: 20px;
}

.owl-next:focus,
.owl-prev:focus {
  outline: none;
}

.owl-nav {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
}

h6 {
  font-weight: bold;
}
