.arabic-content h1 {
  font-family: NeoSansAr !important;
}
h2.arabic-content {
    font-family: NeoSansArabicRegular !important;
}
.arabic-content p {
  font-family: NeoSansArabicRegular !important;
}
body {
	background-color: #fff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: NeoSansBold;
}
p {
  font-family: NeoSansBold;
}

.video_wrapper {
  height: 32vh;
  overflow: hidden;
  background: #000;
}
.text_wrapper_op {
  background:#e1e0e2;
}
.text_wrapper_outter {
  height: 68vh;
}
.heading_main {
  font-size: 30px;
}
.text_wrapper_op p {
  font-size: 18px;
  font-family: 'NeoSansArabicRegular';
}
.direction_rtl {
  direction: rtl;
}
.icon_single_inner {
  margin-bottom: 50px;
}
.icon_single_inner i {
  font-size: 44px;
  margin-bottom: 35px;
}
.icon_single_inner h2 {
  font-size: 16px;
  text-align: center;
  font-family: NeoSansArabicRegular;
}
.icon_single_inner {
  width: 33%;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ba55d3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff00ff;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.categories_video_inner {
  width: 100%;
  object-fit: contain;
}

.page-title h2 {
  font-size: 51px;
  color: #5a595a;
  font-family: NeoSansAr;
}
.video-logo {
  min-height: 200px;
  display: flex;
}
.video-logo img {
  max-height: 140px;
  width: 200px;
}
.footer_logo {
  width: 140px;
}
footer {
  padding: 0;
  display: flex;
  justify-content: right;
}
img.footer_logo {
    position: absolute;
    bottom: 70px;
    left: 40px;
}

.page-title-arabic {
	font-family: NeoSansArabicRegular !important;
	font-size: 90px !important;
}

.icon_single_inner .icon_img {
	width: auto;
	margin-bottom: 20px;
	height: 60px;
}

.images_wrapper_inner img {
  width: 300px;
}

.logo_2 img {
  width: 280px;
}
.logo_4 img {
  max-height: 180px;
}

.logo_maaden img {
  width: 200px;
}

.video_wrapper video {
  max-height: 100%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.video_wrapper_sabic {
	overflow: inherit !important;
	background: transparent !important;
}

.video_wrapper_sabic video {
	max-height: inherit !important;
}

.video_wrapper_zamil {
	overflow: inherit !important;
	background: transparent !important;
}

.video_wrapper_zamil video {
	max-height: inherit !important;
}

.video_wrapper_maaden {
	overflow: inherit !important;
	background: transparent !important;
}

.video_wrapper_maaden video {
	max-height: inherit !important;
}