@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('NeoSansArabic-Medium.woff2') format('woff2'),
        url('NeoSansArabic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('NeoSansArabic-Bold.woff2') format('woff2'),
        url('NeoSansArabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('NeoSansArabic.woff2') format('woff2'),
        url('NeoSansArabic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

