@font-face {
    font-family: NeoSansRegular;
    src: url('NeoSansStd.otf');
}

@font-face {
    font-family: NeoSansArabicRegular;
    src: url('NeoSansArabicRegular.otf');
}

@font-face {
    font-family: NeoSansBold;
    src: url('neosansbold.otf');
}

@font-face {
    font-family: NeoSansAr;
    src: url('neosansar.woff2'),
        url('neosansar.woff');
}
